.wrapper {
  display: flex;
  gap: 60px;
  flex-direction: column;
}

.header {
  display: flex;
  gap: 28px;
  flex-direction: column;
}

.content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  flex-basis: 50%;
}

.contentSide {
  flex-basis: 50%;
}

.footer {
  display: flex;
  gap: 44px;
  flex-direction: column;
}

.nameRow {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .content {
    flex-direction: row;
    gap: 24px;
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 1440px) {
  .content {
    gap: 40px;
  }
}
