.badge {
  background-color: var(--color-badgets);
  padding: 12px;
  border-radius: 100px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.icon {
  flex-shrink: 0;
}
