.wrapper {
  display: flex;
  gap: 100px;
  padding: 24px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--color-inputs);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Inter Medium", Arial, sans-serif;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.value {
  text-transform: capitalize;
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    padding: 44px 52px;
  }
}
