.wrapper {
  padding: 44px 58px;
  border: 1px solid var(--color-grey-light);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.title {
  font-family: "Inter Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-main);
}

.description {
  color: var(--color-grey);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form button {
  flex-grow: 0;
}

.actions {
  text-align: center;
}
