.wrapper {
  display: flex;
  gap: 44px;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: "Inter Medium", Arial, sans-serif;
}
